name: Deploy on Ec2

on:
    push:
        branches: [main]

    workflow_dispatch:

jobs:
    deploy:
        runs-on: self-hosted

        steps:
         -  name: Checkout Code
            uses: actions/checkout@v4

         -  name: Docker Build
            run:  docker build -t my-action .

         -  name: DockerHub Login
            run: |
               echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login \
               -u "${{ secrets.DOCKERHUB_USERNAME }}" \
               --password-stdin  

         -  name: Build Docker Image
            run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/my-action:latest .
            
         -  name: Push Image to Registry
            run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/my-action:latest

         -  name: Deploy to Prod with Compose
            run: docker-compose down && docker-compose up -d