name: Deploy on Ec2

on:
    push:
        branches: [main]

jobs:
    deploy:
        runs-on: self-hosted

        steps:
         -  name: Checkout Code
            uses: actions/checkout@v4

         -  name: Docker Build
            run:  docker build -t my-action .

         -  name: Deploy to Prod
            run: docker run -d -p 8080:8080 my-action