name: Deploy on Ec2

on:
    push:
        branches: [main]

jobs:
    deploy:
        runs-on: self-hosted

        steps:
         -  name: Checkout Code
            uses: actions/checkout@v4

         -  name: Install Requirements
            run: pip3 install -r requirements.txt

         -  name: Run Application
            run: |
                pkill -f app.py || true
                setsid nohup python3 app.py > app.log 2>&1 < /dev/null &
