name: Deploy on Ec2

on:
    push:
        branches: [main]

jobs:
    deploy:
        runs-on: self-hosted

        steps:
         -  name: Checkout Code
            uses: actions/checkout@v4

         -  name: Install Requirements
            run: pip3 install -r requirements.txt

         -  name: Run Application
            run: python3 app.py